# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Bryareos\Documents\FormationCDA\CoursRomain\s20-tp-ionic-blog-api-Bryareos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
